<div class="container">
  <button
    type="button"
    (click)="goProductList()"
    class="mt-4 btn btn-dark me-3"
  >
    Quay Lại
  </button>
  <button
    type="button"
    class="mt-4 btn btn-dark text-bg-warning position-relative"
  >
    Giỏ hàng
    <span
      class="position-absolute top-0 strart-100 translate-middle badge rounded-pill"
      >{{ productCart.length }}
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
  <h2 class="p-3">Giỏ hàng</h2>
  <div class="row">
    <div class="d-flex position-relative" *ngFor="let item of productCart">
      <img
        src="{{ item.image }}"
        class="flex-shrink-0 me-3 kt-img"
        alt="{{ item.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">Tên sản phẩm:{{ item.name }}</h5>
        <p class="card-text">Giá bán: {{ item.price }} VNĐ</p>
        <button class="btn btn-danger" (click)="deleteProduct(item.id)">
          Xóa sản phẩm
        </button>
      </div>
    </div>
  </div>
</div>
